header {
    background-color: rgb(30,150,255);
    background-image: url("../img/pattern.png");
    height: 200px;
    margin: -10px;
}

h1{
    font-size: 50px;
    margin-right: 150px;
    margin-bottom: -5px;
    color: black;
}

thead{
    background-color:cornflowerblue;
    color: white;
    text-align: left;
}

table{
    border-collapse: collapse;
}


#logo{
    max-width: 250px;
    height: auto;
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#data{
    font-size: 20px;
}

.grigio{
    color: gray;
    font-weight: bold;
    font-size: 25px;
}

.azzurro{
    color:dodgerblue;
}

#img1{
    width: 600px;
    height: auto;
    margin-top: 20px;
}

#img2{
    margin-top: 20px;
    width: 450px;
    height: auto;
}

.foto{
    color: black;
    font-size: 15px;
}

.dim-char{
    font-size: 25px;
}

.evidenziatore{
    background-color: yellow;
}

#lista{
    margin-left: -10px;
}

.dim-celle{
    width: 300px;
}

.back-celeste{
    background-color: rgb(50,215,235);
}

#adv1{
    color: white;
    font-size: 25px;
    width: 312px;
    height: 208px;
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}

#adv2{
    color: white;
    font-size: 25px;
    width: 312px;
    height: 208px;
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bonus{
    margin-left: 200px;
    margin-right: 200px;
}